<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>ORANGE</string>
		<key>Color</key>
		<string>FF9600</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>PURPLE</string>
		<key>Color</key>
		<string>9B59B6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>YELLOW</string>
		<key>Color</key>
		<string>FFCD00</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GREEN</string>
		<key>Color</key>
		<string>44DB5E</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>BLUE</string>
		<key>Color</key>
		<string>54C7FC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>PINK</string>
		<key>Color</key>
		<string>FF2851</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>BROWN</string>
		<key>Color</key>
		<string>8B572A</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>RED</string>
		<key>Color</key>
		<string>FF3824</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GRAY</string>
		<key>Color</key>
		<string>808080</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>WHITE</string>
		<key>Color</key>
		<string>FFFFFF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>BLACK</string>
		<key>Color</key>
		<string>000000</string>
	</dict>
</array>
</plist>
