.screen-shoot {
  min-height: 670px;
  background-image: url("images/Scene.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.screen-gallery, .content {
  margin-top: 2.1em;
}

h1.icon-title {
  margin-top: 5em;
  margin-bottom: 2em;
}

.description p {
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: 300;
}

.footer {
  margin-top: 7em;
  text-align: center;
}

.footer p {
  font-weight: 500;
  font-size: 1.2em;
  color: #ccc;
}

.footer p strong {
  color: #FF2851;
}

.footer p a.twitter {
  color: #ccc;
}

.footer p a.twitter:hover {
  color: #468ae9;
}

.twitter i {
  color: #ccc;
  -webkit-transition: -webkit-transform .8s,color 1s;	/* Safari 和 Chrome */
  -o-transition: -o-transform .8s,color 1s;	/* Opera */
  -moz-transition: -moz-transform .8s,color 1s; /* Firefox 4 */
  transition: transform .8s,color 1s;
}

.twitter i:hover {
  color: #468ae9;
  -webkit-transform: rotate(360deg);	/* Safari 和 Chrome */
  -o-transform: rotate(360deg);	/* Opera */
  -moz-transform: rotate(360deg); /* Firefox 4 */
  transform: rotate(360deg);
}

.footer p:first-of-type {
  margin-bottom: -1em;
}
